.navbar button {
    border-radius: 50px;
    background-color:#7E4555;
    color: #fff;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar {
   
}

